body, button, textarea, input {
    font-family: -apple-system, system-ui, "Segoe UI Variable Text", "Segoe UI", Cantarell, Ubuntu, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.vardfont {
    font-family: -apple-system, system-ui, "Segoe UI Variable Display", "Segoe UI", Cantarell, Ubuntu, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.vartfont {
    font-family: -apple-system, system-ui, "Segoe UI Variable Text", "Segoe UI", Cantarell, Ubuntu, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.varsfont {
    font-family: -apple-system, system-ui, "Segoe UI Variable Small", "Segoe UI", Cantarell, Ubuntu, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --max_width: 960px;
    --max_width_wide: 1280px;
    --vk_shadow: 0 8px 24px 1px rgb(0 0 0 / 6%), 0 10px 46px 0 rgb(0 0 0 / 4%);
}

body {
    background: var(--background_content);
    color: var(--text_primary);
    display: flex;
    margin: 0;
    height: 100vh;
}

a {
    color: var(--text_link);
}

button {
    appearance: none;
    min-height: 36px;
    border-radius: 4px;
    padding: 0 19px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    border: 1px solid transparent;
    background: var(--button_secondary_background);
    color:  var(--button_secondary_foreground);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
}

.ttcore .ttcontent {
    display: none;
    width: 240px;
    background-color: #47a3ff;
    color: #fff;
    box-shadow: 0 20px 40px rgb(0 0 0 / 30%), 0 0 1px 0 rgb(0 20 51 / 40%);
    text-align: center;
    padding: 8px 12px 10px;
    border-radius: 10px;
    position: absolute;
    font-family: Consolas, monospace;
    font-size: 12px;
    z-index: 1;
    transform: translate(-40px, -1px);
}

.ttcontent {
    user-select: text;
}

.ttcore:hover .ttcontent {
    display: block;
}

.ttcontent a {
    color: #fff;
}

.lroot {
    margin: auto;
}

.accent {
    background: var(--button_primary_background);
    color:  var(--button_primary_foreground);
}

.insection {
    margin: 0px auto;
    max-width: var(--max_width);
}

.fullwidth {
    flex-grow: 1;
    overflow: visible;
}

section::before, footer::before {
    background-color: var(--separator_common);
    height: 1px;
    position: absolute;
    left: calc((100% - 928px) / 2);
    width: 100%;
    max-width: calc(var(--max_width) - 32px);
    transform: translateY(-1px);
    content: '';
}

section:first-child::before {
    height: 0px;
}

@media all and (min-width: 1536px) {
    .insection {
        max-width: var(--max_width_wide);
    }

    section::before, footer::before {
        left: calc((100% - 1248px) / 2);
        max-width: calc(var(--max_width_wide) - 32px);
    }
}

@media all and (max-width: 928px) {
    section::before, footer::before {
        left: 16px;
        max-width: calc(100% - 32px);
    }
}

/* First section: image and info */

.product_info {
    display: flex;
    flex-direction: row-reverse;
    padding: 64px 0px;
}

.product_info > .fullwidth {
    flex-basis: 50%;
    padding: 0px 16px;
}

.info {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.screenshotRoot {
    position: relative;
    padding-top: calc(100% / 40 * 27);
}

.screenshotRoot::before {
    content: '';
    display: block;
    width: 100%;
}

.screenshotMain, .screenshotBorder {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.screenshotMain {
    background-size: contain;
}

.screenshotBorder {
    box-sizing: border-box;
    border-radius: calc(800px / 160)/calc(540px / 108);
    box-shadow: var(--vk_shadow);
    border: 1px solid var(--screenshot_border);
}

#description {
    margin-bottom: 36px;
    font-size: 20px;
    user-select: none;
}

#links {
    display: flex;
    flex-direction: column;
}

#links .additional {
    margin: 6px auto 0px auto;
    color: var(--text_subhead);
    font-size: 13px;
    font-weight: 400;
}

.additional p {
    margin: 6px auto 0px auto;
    text-align: center;
    user-select: none;
}

.ulink {
    cursor: pointer;
}

.btnlink {
    display: block;
    text-decoration: none;
    margin: 6px 0px;
    font-weight: 600;
    width: 100%;
}

button > .btnicon {
    margin-right: 8px;
    fill: currentColor;
}

button > .wide {
    flex-grow: 2;
}

#links button {
    width: 100%;
}

/* Logo */

#logo {
    display: flex;
    height: 90px;
    align-items: center;
}

#laney_round {
    background-color: var(--background_content);
    width: 90px;
    height: 90px;
    border-radius: 45px;
    filter: drop-shadow(0px 4px 12px var(--logo_shadow));
    display: flex;
    align-items: center;
    justify-content: center;
}

#laney_round > svg {
    width: 47px;
}

.a, .b, .c {
    fill: var(--logo_fill);
}

#laney_text {
    margin-left: 16px;
    height: 56px;
}

#laney_text > svg {
    height: 56px;
}

#laney_text .b {
    fill-rule: evenodd;
    fill: var(--logo_text);
}

@media all and (max-width: 788px) {
    .product_info {
        flex-direction: column-reverse;
        padding: 24px 0px 0px 0px;
    }

    .image {
        margin: 36px 0px;
        padding: 0px 16px !important;
    }

    .info {
        text-align: center;
        max-width: 100%;
    }

    #links {
        align-items: center;
    }

    #logo {
        margin: 0 auto;
        justify-content: center;
    }
}

@media all and (min-width: 1536px) {
    .info {
        max-width: 420px;
    }

    #description {
        margin-bottom: 36px;
        font-size: 28px;
    }

    #links button {
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 18px;
    }

    #logo {
        height: 120px;
    }
    
    #laney_round {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        filter: drop-shadow(0px 5px 16px var(--logo_shadow));
    }

    #laney_round > svg {
        width: 63px;
    }    
    
    #laney_text {
        height: 75px;
        margin-left: 21px;
    }

    #laney_text > svg {
        height: 74px;
    }
}

/* Features */

#features > .insection {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max_width);
    margin: 0px auto;
    padding-bottom: 16px;
}

.feature {
    padding: 0px 16px;
    color: var(--text_primary);
    flex-basis: 50%;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
}

.feature h3 {
    font-size: 24px;
    font-weight: 400;
    margin-block-end: 12px;
}

.feature ul, .feature p {
    margin-block-start: 0px;
}

.feature ul {
    padding-inline-start: 20px;
    list-style-type: circle;
}

#features :last-child {
    flex-grow: 1;
}

@media all and (max-width: 720px) {
    .feature {
        flex-basis: 100%;
    }
}

@media all and (min-width: 1536px) {
    #features > .insection {
        max-width: var(--max_width_wide);
    }

    #features :last-child {
        flex-grow: 0;
    }

    .feature {
        margin-bottom: 16px;
        flex-basis: 33%;
    }
}

/* Footer */

.lroot > footer {
    margin-bottom: 48px;
}

footer > .insection {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    max-width: var(--max_width);
    margin: 0px auto;
    padding: 12px 16px;
    box-sizing: border-box;
    color: var(--text_subhead);
    user-select: none;
}

@media all and (max-width: 410px) {
    footer > .insection {
        flex-direction: column;
    }
}

@media all and (min-width: 1536px) {
    footer > .insection {
        max-width: var(--max_width_wide);
    }
}

/* Webkit scrollbar */

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: var(--background_content);
    width: 8px;
}
 
::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 8px;
    background-color: var(--button_secondary_background);
}