/** By default, use the local font and then fallback to web font. **/
  body, button, textarea, input {
    font-family: 'Segoe UI Variable Display', 'Segoe UI', 'Segoe UI Web';
  }

  .vardfont {
    font-family: 'Segoe UI Variable Display', 'Segoe UI', 'Segoe UI Web';
  }

  .vartfont {
    font-family: 'Segoe UI Variable Text', 'Segoe UI', 'Segoe UI Web';
  }

  .varsfont {
    font-family: 'Segoe UI Variable Small', 'Segoe UI', 'Segoe UI Web';
  }
  
  /** In Chrome we can't use the semilight weight of the local web font. Use web fonts instead. **/
  body:not(*:root) {
    font-family: 'Segoe UI Web';
  }
  
  @font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-cyrillic/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }